{% include 'modal.jinja' %}
{% include 'scripts.jinja' %}

<footer class="bg-dark text-white">
    <div class="container py-4">
        <div class="row py-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <h6 class="text-uppercase mb-3">Contacts autor</h6>
                <ul class="list-unstyled mb-0">
                    <li><a class="footer-link" href="https://t.me/Pavel0888">Telegram</a></li>
                    <li><a class="footer-link" href="https://github.com/Pavel-Sachivkin">GitHub</a></li>
                    <li><a class="footer-link" href="https://ru.linkedin.com/in/pavel-sachivkin-298a69183">Linkindin</a></li>
                </ul>
            </div>
        </div>
        <div class="border-top pt-4" style="border-color: #1d1d1d !important">
            <div class="row">
                <div class="col-md-6 text-center text-md-start">
                    <p class="small text-muted mb-0">&copy; All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
